{% extends'Layouts/layoutfstlevel.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/secondlevelCSS.css') }}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
    <div>
        {% include 'Layouts/header.html.twig' %}
    </div>

    <div>
        {% include 'Layouts/menu.html.twig' %}
    </div>

    {% if app.session.flashBag.peek('info') is not empty %}
    <div>
        {% include 'Layouts/flash.html.twig' %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div>
        {% include 'Layouts/footer.html.twig' %}
    </div>
{% endblock %}
